.load-more+.vertical-timeline-element-content {
    width: fit-content;
}

.load-more {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.load-more:hover {
    scale: 1.2;
}