@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --palette-darkest: #101010;
    --palette-darker: #111111;
    --palette-white: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    color: var(--palette-white);
    background-color: var(--palette-darkest) !important;

}

[data-rmiz-modal-overlay="visible"] {
    background-color: black !important;
}

[data-rmiz-modal-img] {
    @apply rounded-xl;
    cursor: pointer !important;
}

[data-rmiz-btn-unzoom] {
    cursor: pointer !important;
}

[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
    cursor: pointer !important;
}